*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --white: #FFFFFF;
    --black: hsl(192, 100%, 9%);
    --gray: hsl(208, 11%, 55%);
    --pink: hsl(322, 100%, 66%);
    --pink-hover: #FF9BDB;
    --header-bg: hsl(193, 100%, 96%);
}


/* BASICS */
.flux{
    margin: 0 80px;
}

p{
    font-family: 'Open Sans';
    font-size: 18px;

}

h1{
    font-family: 'Poppins';
}

h3{
    font-family: 'Poppins';
}


/* HEADER */
header{
    display: flex;
    flex-direction: column;
    background-image: url("/assets/images/bg-hero-desktop.svg");
    background-size: cover;
    background-color: var(--header-bg);
}

.top_header{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.bottom_header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.bottom_right_header img{
    width : 50em;
    height : auto;
}


/* BUTTONS */
button{
    border: none;
    border-radius: 50px;
    padding: 10px 40px;
    font-family: 'Open Sans';
}

.white-button{
    background-color: var(--white) ;
    color: var(--black);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.white-button:hover{
    color: var(--gray);
}

.pink-button{
    background-color: var(--pink);
    color: var(--white);
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.pink-button:hover{
    background-color: var(--pink-hover);
}


/* SECTION */
section{
    margin-top: 120px;
}

.section_img{
    width : 35em;
    height : auto;
}

.frame{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    border-radius: 15px;
    margin: 30px 80px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.frame div{
    padding: 50px 80px;
}

.frame img{
    padding: 50px 80px;
}
