*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --white: #FFFFFF;
    --black: hsl(192, 100%, 9%);
    --gray: hsl(208, 11%, 55%);
    --pink: hsl(322, 100%, 66%);
    --pink-hover: #FF9BDB;
    --header-bg: hsl(193, 100%, 96%);
}


/* BASICS */
.flux{
    margin: 0 60px;
}

p{
    font-family: 'Open Sans';
    font-size: 18px;

}

h1{
    font-family: 'Poppins';
}

h3{
    font-family: 'Poppins';
}


/* HEADER */
header{
    display: flex;
    flex-direction: column;
    background-image: url("/assets/images/bg-hero-desktop.svg");
    background-size: cover;
    background-color: var(--header-bg);
}

.top_header{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.bottom_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}


.bottom_right_header img{
    width : 48em;
    height : auto;
}


/* BUTTONS */
button{
    border: none;
    border-radius: 50px;
    padding: 10px 40px;
    font-family: 'Open Sans';
}

.white-button{
    background-color: var(--white) ;
    color: var(--black);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.white-button:hover{
    color: var(--gray);
}

.pink-button{
    background-color: var(--pink);
    color: var(--white);
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.pink-button:hover{
    background-color: var(--pink-hover);
}


/* SECTION */
section{
    margin-top: 120px;
    margin-bottom: 200px;
}

.section_img{
    width : 35em;
    height : auto;
}

.frame{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    border-radius: 15px;
    margin: 30px 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.frame div{
    padding: 50px 70px;
}

.frame img{
    padding: 50px 70px;
}


/* FOOTER */
footer{
    background-color: var(--black);
}

.img_footer{
    display: block;
    height: 100%;
    margin-right: 10px;
}

.img_footer_logo{
    display: block;
}

footer p{
    color: var(--white);
    font-size: 14px;
}

.footer_section{
    padding: 30px 60px ;
    padding-top: 120px;

    display: flex;
    justify-content: space-evenly;
}

.footer_div_column{
    display: flex;
    flex-direction: column;
}

.footer_div_row{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.section4{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.mediaFacebook{
    background: url("/assets/images/facebook.svg") no-repeat center;
    margin: 10px;
    padding: 10px;
    border: solid 1px var(--white);
    border-radius: 50px;
    
}

.mediaFacebook:hover{
    background: url("/assets/images/facebookHover.svg") no-repeat center;
    border: solid 1px var(--pink);
    
}

.mediaTwitter{
    background: url("/assets/images/twitter.svg") no-repeat center;
    margin: 10px;
    padding: 10px;
    border: solid 1px var(--white);
    border-radius: 50px;
}
.mediaTwitter:hover{
    background: url("/assets/images/twitterHover.svg") no-repeat center;
    border: solid 1px var(--pink);
    
}

.mediaInstagram{
    background: url("/assets/images/instagram.svg") no-repeat center;
    margin: 10px;
    padding: 10px;
    border: solid 1px var(--white);
    border-radius: 50px;
}
.mediaInstagram:hover{
    background: url("/assets/images/instagramHover.svg") no-repeat center;
    border: solid 1px var(--pink);
    
}

.divMedia{
    width: 50px;
    height: 50px;
}



/* .media{
    margin: 10px;
    padding: 10px;
    border: solid 1px var(--pink);
    border-radius: 50px;
}

.media:hover{
    border: solid 1px var(--white);
    
} */


/* COMPONENT */
.component{
    background-color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 15px;
    margin: 30px 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    width: 30em;
    height: auto;
    padding: 40px;
}


.bottom_component{
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}


.parent {
    position: relative;
}

.child {
    position: absolute;
    z-index: 1;
    bottom: -1;
}



/* LIEN */

a{
    font-family: 'Open Sans';
    text-decoration: none;
    color: var(--white);
    margin: 7px;
}

a:hover{
    border-bottom: 1px solid var(--white);
}

a:visited{
    color: var(--white);
}


.footer_div_column .footer_div_row a{
    border: none;
}



.attribution{
    display: flex;
    justify-content: end;
    padding: 10px;
}





@media screen and (max-device-width: 375px) {

    body{
        display: flex;
        flex-direction: column;
    }

    /* BASICS */
    .flux{
        margin: 0 25px;
    }

    h1{
        font-size: 25px;
    }

    p{
        font-family: 'Open Sans';
        font-size: 18px;
    }

    .logo_top{
        width: 8em;
        height: fit-content;
    }

    /* HEADER */
    header{
        display: flex;
        flex-direction: column;
        background-image: url("/assets/images/bg-hero-mobile.svg");
        background-size: cover;
        background-color: var(--header-bg);
    }

    .top_header{
        margin-top: 30px;
    }

    .bottom_header{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .bottom_right_header{
        padding: 30px;
    }

    .bottom_right_header img{
        width : 20em;
        height : auto;
        margin-top: 70px;
    }

    .bottom_left_header{
        text-align: center;
        
    }

    .bottom_left_header p {
        margin-bottom: 20px;
    }

    .frame{
        display: flex;
        flex-direction: column;
        margin: 10px 15px;
        text-align: center;
    }

    .frame div {
        padding: 50px;
    }


    .frame p{
        font-size: 14px;
    }

    .section_img{
        width : 25em;
        height : auto;
    }

    .reverse{
        display: flex;
        flex-direction: column-reverse;
    }

    /* BUTTONS */
    .pink-button{
        margin-top: 10px;
    }

    button{
        padding: 7px 40px;
    }

    .buttondiv{
        display: flex;
        justify-content: center;
    }

    .white-button{
        padding: 5px 20px;
    }



    .footer_section{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .attribution{
        font-size: 10px;
        display: flex;
        justify-content: center;
        padding: 0px;
    }

    .section4{
        display: flex;
        justify-content: start;
    }


    .component{
        margin: 70px 30px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width: 20em;
        height: auto;
        padding: 20px;
        text-align: center;
    }
    
    
    .bottom_component{
        display: flex;
        justify-content: center;
        margin-bottom: 150px;
    }

}
